# Default ignored files
GitHub\cs-2022-1\tarefa006\.vscode
\GitHub\cs-2022-1\tarefa008\endereco\.idea
\GitHub\cs-2022-1\tarefa008\endereco\endereco.iml
\GitHub\cs-2022-1\tarefa006\.idea
\GitHub\cs-2022-1\.idea